<div class="app-zonky">
	<div class="app-zonky__header">
		ZONKY
	</div>
	<div class="app-zonky__body">
		<form (ngSubmit)="onSubmit()" #amountForm="ngForm" class="app-zonky__form">
			<input
				type="text"
				class="app-zonky__input"
				placeholder="Zadaj rating.."
				[(ngModel)]="form.rating"
				(ngModelChange)="form.rating = $event.toUpperCase()"
				name="rating"
				#name="ngModel" required autocomplete="off">
			<button type="submit" class="app-zonky__button">Vypočítaj</button>
		</form>
		<div class="app-zonky__amount">
			<div class="app-zonky__amount-item" *ngIf="amountRes && amountRes != -1">
				{{ amountRes }} CZK
			</div>
			<div class="app-zonky__amount-item" *ngIf="!amountRes">
				😥😥
			</div>
		</div>
	</div>
</div>
